body {
  background-color: #121212;
  color: #f0f0f0;
  font-family: sans-serif;
  text-align: center;
}
canvas {
  border: 2px solid #00ffcc;
  background-color: #1e1e1e;
  margin-bottom: 20px;
}
#cardOptions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #00ffcc;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}